---
import ChatBot from '../components/ChatBot.jsx';
import FileUpload from '../components/FileUpload';
import '../styles/global.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Chatbot</title>
    </head>
    <body>
        <main class="flex flex-col items-center p-8 min-h-screen">

            <h1 class="text-2xl font-bold mb-4">Simple React Chatbot</h1>

            <div class="mt-8">
                <ChatBot client:load />
            </div>
            <div class="mt-8">
                <FileUpload client:load />
            </div>
        </main>
    </body>
</html>
